<td class="checkbox-row" {{action "clickRow"}}>
  {{input type="checkbox" checked=isChecked change="" change=(action "nullAction") click=(action "clickBox")}}
</td>
{{#each columns as |field|}}
  <!-- do not break this td tag, otherwise more white spaces will be added    -->
  <td class={{field.class}} id={{unique-name-helper name=row.title dbid=row.id}}>
      {{#each field.fields as |fieldName index| }}
        {{#if (and (not index) (gt (get (get row fieldName) "length") 1))}}
          <span {{action "showRows"}} class="checkbox-table-caret-container">
            {{#if showAll}}
              <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
            {{else}}
              <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i>
            {{/if}}
          </span>
        {{/if}}
        <span {{action "showRows"}} class="checkbox-row-content-container">
        {{#if index}}, {{/if}}
        {{#if (is-array (get row fieldName))  }}
          {{#each (get row fieldName) as |fieldElement i| }}
            {{#if (not i)}}
              {{fieldElement}}
              {{#if useCommas}}
                ,
              {{else}}
                <br />
              {{/if}}
            {{else}}
              {{#if (or showAll disableControls)}}
                {{fieldElement}}
                {{#if useCommas}}
                  ,
                {{else}}
                  <br />
                {{/if}}
              {{/if}}
            {{/if}}
          {{/each}}
        {{else}}
          {{get row fieldName}}
        {{/if}}
        </span>
      {{/each}}
  </td>
{{/each}}
