<h2 id="title">ember-checkbox-table</h2>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div>Total Selected Rows: {{tableConfig.checkedRows.length}}</div>
    {{table-checkbox-rows
      rowData=tableConfig.rowData
      checkedRows=tableConfig.checkedRows
      columns=tableConfig.columns
      sortFields=tableConfig.sortFields
      useCommas = false
      updateChecked = (action "updateChecked")
      noItemsMessage= "Sorry be"
    }}
  </div>
</div>

{{outlet}}
